#!/usr/bin/env python

# To execute this script, set two env vars:
# ADMIN_USER: admin username
# ADMIN_PASSWORD: admin user's password

import os
import sys

# Add the project directory to system path
proj_dir = os.path.expanduser('{{ workdir }}')
sys.path.append(proj_dir)

os.environ['DJANGO_SETTINGS_MODULE'] = '{{ settings_module }}'

import django
django.setup()

from django.contrib.auth.models import User

u, _ = User.objects.get_or_create(username=os.environ['ADMIN_USER'])
u.is_staff = u.is_superuser = True
u.set_password(os.environ['ADMIN_PASSWORD'])
u.save()

